# 01. Data Sourcing - PySpark

## 01.1. Importação das bibliotecas

### 01.1.1. Importando as bibliotecas nativas do Python

In [1]:
import sys

### 01.1.2. Importando as bibliotecas de terceiros

In [2]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

### 01.1.3. Importando os módulos locais do projeto

In [3]:
sys.path.append('..')
import params.consts as consts

## 01.2. Fontes dos dados

### 01.2.1. Listando as fontes dos dados

| Fonte de Dados           | Disponibilidade  | Formato              |
|--------------------------|------------------|----------------------|
| Data Lakes               | -                | -                    |
| Data Warehouses          | -                | -                    |
| Clouds                   | -                | -                    |
| Bancos de Dados SQL      | -                | -                    |
| Bancos de Dados NoSQL    | -                | -                    |
| APIs                     | -                | -                    |
| ERPs                     | -                | -                    |
| CRMs                     | -                | -                    |
| Web Scraping             | -                | -                    |
| Sistemas Empresariais    | Ok               | Csv                  |
| Dados Locais             | Ok               | Csv                  |
| Outros                   | -                | -                    |

## 01.3. União entre tabelas

### 01.3.0. Iniciando a sessão Spark

In [4]:
spark = SparkSession.builder.appName('spark').getOrCreate()

### 01.3.1. Habilitando a exibição de todas as colunas

In [5]:
pd.set_option('display.max_columns', None)

### 01.3.2. Entendendo as tabelas e seus tipos de dados

In [6]:
dim_customers = spark.read \
    .format('csv') \
    .option('header', 'true') \
    .option('inferSchema', 'true') \
    .option('sep', ',') \
    .load(consts.DIM_CUSTOMERS_RAW)

dim_calender = spark.read \
    .format('csv') \
    .option('header', 'true') \
    .option('inferSchema', 'true') \
    .option('sep', ';') \
    .load(consts.DIM_CALENDER_RAW)

In [7]:
dim_customers.show(5)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 2013-08-21|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 2014-02-10|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 2014-01-19|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 5 rows

In [8]:
dim_calender.show(5)

+----------+----+---+-----------+---+-------------+---------------+------+-----+---------+-----------------+--------+----------------+-------------+-------+-------------+
|      Data| Ano|Mês|Nome do Mês|Dia|Dia da Semana|       Dia Útil|Semana|   CW|Trimestre|Nome do Trimestre|Semestre|Nome do Semestre|Início do Mês|Mês/Ano|Mês/Ano Curto|
+----------+----+---+-----------+---+-------------+---------------+------+-----+---------+-----------------+--------+----------------+-------------+-------+-------------+
|2000-01-01|2000|  1|    Janeiro|  1|       Sábado|Final de Semana|     1|01/00|        1|           Trim 1|       1|      Semestre 1|   2000-01-01| jan/00|       jan/00|
|2000-01-02|2000|  1|    Janeiro|  2|      Domingo|Final de Semana|     2|02/00|        1|           Trim 1|       1|      Semestre 1|   2000-01-01| jan/00|       jan/00|
|2000-01-03|2000|  1|    Janeiro|  3|Segunda-Feira|       Dia Útil|     2|02/00|        1|           Trim 1|       1|      Semestre 1|   2000-01-01| jan/00|       jan/00|
|2000-01-04|2000|  1|    Janeiro|  4|  Terça-Feira|       Dia Útil|     2|02/00|        1|           Trim 1|       1|      Semestre 1|   2000-01-01| jan/00|       jan/00|
|2000-01-05|2000|  1|    Janeiro|  5| Quarta-Feira|       Dia Útil|     2|02/00|        1|           Trim 1|       1|      Semestre 1|   2000-01-01| jan/00|       jan/00|
+----------+----+---+-----------+---+-------------+---------------+------+-----+---------+-----------------+--------+----------------+-------------+-------+-------------+
only showing top 5 rows

In [9]:
dim_customers.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: date (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [10]:
dim_calender.printSchema()

root
 |-- Data: date (nullable = true)
 |-- Ano: integer (nullable = true)
 |-- Mês: integer (nullable = true)
 |-- Nome do Mês: string (nullable = true)
 |-- Dia: integer (nullable = true)
 |-- Dia da Semana: string (nullable = true)
 |-- Dia Útil: string (nullable = true)
 |-- Semana: integer (nullable = true)
 |-- CW: string (nullable = true)
 |-- Trimestre: integer (nullable = true)
 |-- Nome do Trimestre: string (nullable = true)
 |-- Semestre: integer (nullable = true)
 |-- Nome do Semestre: string (nullable = true)
 |-- Início do Mês: date (nullable = true)
 |-- Mês/Ano: string (nullable = true)
 |-- Mês/Ano Curto: string (nullable = true)

### 01.3.3. Unindo as tabelas

In [11]:
dim_customers = dim_customers.withColumn('Dt_Customer', col('Dt_Customer').cast('date'))

dim_calender = dim_calender.withColumn('Data', col('Data').cast('date'))

dataset_raw = dim_customers.join(

    dim_calender.select('Data', 'Mês', 'Trimestre'),

    dim_customers['Dt_Customer'] == dim_calender['Data'],

    how = 'left'

)

dataset_raw = dataset_raw.drop('Data')

dataset_raw = dataset_raw \
    .withColumnRenamed('Mês', 'Dt_Customer_Month') \
    .withColumnRenamed('Trimestre', 'Dt_Customer_Quarter')

In [12]:
dataset_raw.show(5)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+-----------------+-------------------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|Dt_Customer_Month|Dt_Customer_Quarter|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+-----------------+-------------------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|                9|                  3|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|                3|                  1|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 2013-08-21|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|                8|                  3|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 2014-02-10|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|                2|                  1|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 2014-01-19|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|                1|                  1|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+-----------------+-------------------+
only showing top 5 rows

In [13]:
dataset_raw.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: date (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)
 |-- Dt_Customer_Month: integer (nullable = true)
 |-- Dt_Customer_Quarter: integer (nullable = true)

### 01.3.4. Salvando a tabela unificada

In [14]:
dataset_raw.write \
    .format('csv') \
    .mode('overwrite') \
    .option('header', 'true') \
    .option('sep', ',') \
    .save(consts.DATASET_RAW_PYSPARK)

## 01.4. Compactação dos arquivos

### 01.4.1. Compactando arquivos brutos em csv usando o formato gzip

In [15]:
df = spark.read \
    .format('csv') \
    .option('header', 'true') \
    .option('inferSchema', 'true') \
    .option('sep', ',') \
    .load(consts.DATASET_RAW_PYSPARK)

df.write \
    .format('csv') \
    .mode('overwrite') \
    .option('header', 'true') \
    .option('sep', ',') \
    .option('compression', 'gzip') \
    .save(consts.DATASET_RAW_COMPRESSED_PYSPARK)